<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>账户流水</title>
    <!--bootstrap-select  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/bootstrapselect/css/bootstrap-select.css}"/>
    <!--弹窗 css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/layer/layer.css}">
    <!--主要css样式-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/models.css}">
    <!--文件树插件 css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/ztree/zTreeStyle.css}">
    <!--日期  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/datepicker/css/bootstrap-datepicker.css}">
    <style>
        .addList li .bootstrap-select.btn-group:not(.input-group-btn), .addList li .bootstrap-select.btn-group[class*="col-"] {
            float: left;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="MainContent">
    <!--主体内容-->
    <div class="MainCont">
        <table class="tableBox">
            <tr>
                <td>【<span id="userName" th:text="${userName}"></span>】账户余额： ￥<span id="money"
                                                                                    th:text="${vo.money}"></span></td>
                <td>累计进账：￥<span th:text="${vo.totalRevenue}"></span></td>
                <td>累计结算：￥<span th:text="${vo.totalSettlement}"></span></td>
                <td><input name="" type="button" th:onclick="'settle();'" value="结算(线下打款给员工)"></td>
            </tr>
            <tr style=" display:  block; margin-bottom: 20px; "></tr>
        </table>
        <!--筛选条件-->
        <form id="queryForm">
            <div class="screen" style="padding-top: 0;">
                <table class="tableBox">
                    <tr>
                        <th>流水单号：</th>
                        <td><input type="text" id="flowNo"/></td>
                        <th>客户手机号：</th>
                        <td><input type="text" id="customerTelphone"/></td>
                    </tr>
                    <tr>
                        <th class="vul_th" style="width: 80px">下单时间：</th>
                        <td><p class="dayBox">
                            <input class="start_rise date start" id="orderTimeStart" name="" type="text">&nbsp;-&nbsp;
                            <input class="start_rise date end" id="orderTimeEnd" name="" type="text"></p>
                        </td>
                        <td colspan="2">
                            <input name="" type="button" th:onclick="'query();'" value="查询">
                            <input name="" type="button" th:onclick="'resetForm();'" value="重置条件">
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <!--end 筛选条件-->
        <!--商品列表-->
        <div class="wareBox ph_tabScroll">
            <table class="wareList" id="example"></table>
        </div>
        <!--end 商品列表-->
    </div>
    <!--end 主体内容-->
</div>

<div class="PopupBox" id="settleDiv">
    <!--内容-->
    <div class="PopupCon">
        <form class="form-inline" id="settleForm">
            <input type="hidden" name="managerId" th:value="${accountId}">
            <ul class="addList">
                <li><label for="">账户余额：</label>
                    <input class="memberTxt" id="settleBaseMoney" disabled="disabled" type="text">
                </li>
                <li><label for=""><span class="require">*</span>结算金额：</label>
                    <input id="settleMoney"
                           class="memberTxt validate[required,custom[minNumber],custom[number],min[0]"
                           name="changeBalance" type="text">
                </li>
                <li><label for=""></label>
                    <span class="require"> 通过线下打款给员工 </span>
                </li>
            </ul>
        </form>
    </div>
    <!--end 内容-->
</div>
<input type="hidden" id="accountId" th:value="${accountId}">
<!--end 客户详情弹窗-->
<script type="text/javascript" th:src="@{/static/js/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/index.js}"></script>
<!--bootstrap-select-->
<script type="text/javascript" th:src="@{/static/js/bootstrapselect/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrapselect/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrapselect/select.js}"></script>
<!--验证-->
<script type="text/javascript" th:src="@{/static/js/validat/jquery.validationEngine-zh_CN.js}"></script>
<script type="text/javascript" th:src="@{/static/js/validat/jquery.validationEngine.js}"></script>
<!--分页-->
<script type="text/javascript" th:src="@{/static/js/pages/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/htmlHelper.js}"></script>
<!--文件树插件-->
<script type="text/javascript" th:src="@{/static/js/ztree/jquery.ztree.core.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/ztree/jquery.ztree.excheck.min.js}"></script>
<!--弹窗-->
<script type="text/javascript" th:src="@{/static/js/layer/layer.js}"></script>
<!--日期控件-->
<script type="text/javascript" th:src="@{/static/js/datepicker/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/js/datepicker/jquery.timepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/js/datepicker/jquery.datepair.js}"></script>
<script type="text/javascript" th:src="@{/static/js/datepicker/datepicker.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var tb;
    $(function () {
        //验证
        $("#settleForm").validationEngine({
            addPromptClass: 'formError-text',
            showArrow: false,
            promptPosition: 'bottomLeft:10 0'
        });

        tb = $('#example').DataTable({
            "bServerSide": true,
            "sPaginationType": "full_numbers",
            "sDom": '<"">t<"F"ip>',
            "autoWidth": false,  //自适应宽度
            "sAjaxSource": "/web/user/admin/balanceFlow/list", //ajax调用接口
            "aoColumnDefs": [{sDefaultContent: '', orderable: false, aTargets: ['_all']}],
            "aoColumns": [
                {"sWidth": "50px", "sTitle": "序号", "mData": "id"},
                {"sTitle": "流水时间", "mData": "createTime"},
                {"sTitle": "流水单号", "mData": "flowNo"},
                {
                    "sTitle": "客户手机号", "mData": "customerTelphone", 'mRender': function (data, type, full) {
                        if (!full.customerTelphone) {
                            return "-";
                        }
                        return full.customerTelphone;
                    }
                },
                {
                    "sTitle": "消费金额(元)", "mData": "price", 'mRender': function (data, type, full) {
                        if (!full.price) {
                            return "-";
                        }
                        return full.price;
                    }
                },
                {"sTitle": "账户余额(元)", "mData": "userBalance"},
                {"sTitle": "流水备注", "mData": "description"}
            ],
            "oLanguage": {
                "sProcessing": "数据加载中······",
                "sLengthMenu": "显示 _MENU_ 条记录",
                "sZeroRecords": "没有您要搜索的内容！",
                "sEmptyTable": "列表中无数据存在！",
                "sInfo": "当前显示 _START_ 到 _END_ 条数据，共 _TOTAL_ 条数据",
                "sInfoEmpty": "显示 0 到 0 条记录",
                "sInfoFiltered": "数据列表中共  _MAX_ 条记录",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                }
            },
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "async": 'false',
                    "url": sSource,
                    "data": {
                        'pageNum': (aoData[3].value / aoData[4].value) + 1,
                        'pageSize': aoData[4].value,
                        'flowNo': $.trim($("#flowNo").val()),
                        'customerTelphone': $.trim($("#customerTelphone").val()),
                        'createTimeStart': $.trim($("#orderTimeStart").val()),
                        'createTimeEnd': $.trim($("#orderTimeEnd").val()),
                        'userId': $.trim($("#accountId").val())
                    },
                    "success": fnCallback
                });
            },
            "fnDrawCallback": function () {
                var api = this.api();
                var startIndex = api.context[0]._iDisplayStart;//获取到本页开始的条数
                api.column(0).nodes().each(function (cell, i) {
                    cell.innerHTML = startIndex + i + 1;
                });
            }
        });
    });

    //条件查询重新加载数据
    function query() {
        tb.draw();
    }

    /**
     * 重置内容
     */
    //重置查询条件--star
    function resetForm() {
        clearData("queryForm");
    }

    function clearData(id) {
        $("#" + id)[0].reset();
        var selected = $("#" + id).find("select");
        if (selected.length > 0) {
            for (var i = 0, length = selected.length; i < length; i++) {
                selected.eq(i).selectpicker('val', '');
            }
        }
    }

    //重置查询条件-end

    function settle() {
        var title = "【" + $('#userName').text() + "】余额结算";
        $('#settleBaseMoney').val($('#money').text());
        var max = 'max[ ' + $('#money').text() + ']';
        $('#settleMoney').addClass(max);
        layer.open({
            type: 1,
            title: title,
            closeBtn: 0,
            area: ['460px', '308px'],
            btn: ['保存', '取消'],
            btnAlign: 'c',
            content: $('#settleDiv'),
            btn1: function (index) {
                var flag = $("#settleForm").validationEngine("validate");
                if (!flag) {
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "/web/user/admin/balanceFlow/settle",
                    data: $("#settleForm").serialize(),
                    success: function (d) {
                        if (d.success) {
                            layer.alert("保存成功！", {
                                icon: 1,
                                title: '提示',
                                closeBtn: 0,
                                btnAlign: 'c'
                            });
                            setTimeout(function () {
                                window.location.reload();
                            }, 1500)
                        } else {
                            layer.alert(d.message, {
                                icon: 2,
                                title: '提示',
                                closeBtn: 0,
                                btnAlign: 'c'
                            });
                        }
                    }
                });
                $('#formID')[0].reset();
                layer.close(index);

            },
            btn2: function (index) {
                //清空表单
                $('#settleForm')[0].reset();
                $('#settleMoney').removeClass(max);
                layer.close(index);
            }
        });
    }
</script>
</body>
</html>