<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aq.mapper.manager.ManagerMapper">

    <resultMap id="BaseResultMap" type="com.aq.facade.entity.manager.Manager">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="telphone" property="telphone" jdbcType="VARCHAR"/>
        <result column="realName" property="realName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="openId" property="openId" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="updaterId" property="updaterId" jdbcType="INTEGER"/>
        <result column="createrId" property="createrId" jdbcType="INTEGER"/>
        <result column="loginTime" property="loginTime" jdbcType="TIMESTAMP"/>
        <result column="payPassword" property="payPassword" jdbcType="VARCHAR"/>
        <result column="isAuthentication" property="isAuthentication" jdbcType="TINYINT"/>
        <result column="isBindBank" property="isBindBank" jdbcType="TINYINT"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, telphone, realName, password, openId, createTime, updateTime, updaterId, createrId,
        loginTime, payPassword, isAuthentication, isBindBank, url
    </sql>


    <!-- 查询工具数量 -->
    <select id="selectToolPushNum"  resultType="com.aq.facade.vo.customer.QueryCustomerVO">
        SELECT
            m.id,
            m.username,
            m.telphone,
            3 userType,
            (
              SELECT COUNT(tb.id) FROM aq_tool_bind tb  WHERE m.id = tb.userId  AND tb.isDelete = 0
              AND tb.userType = 3 AND tb.toolCategoryCode = #{toolCategoryCode}
            ) toolNum
        FROM
            aq_manager m
        WHERE
            m.id = #{managerId}
    </select>

	<!-- 校验客户经理数据是否唯一 -->
	<select id="checkManageExists" parameterType="com.aq.facade.entity.manager.Manager" resultType="com.aq.facade.entity.manager.Manager">
		SELECT
			id,
			username,
			telphone,
			openId,
			password,
			realName,
			isAuthentication,
			isBindBank,
			url,
			loginTime,
			idCode
		FROM
			aq_manager
		WHERE
			telphone = #{telphone}
		<if test="username != null and username != ''">
			or username = #{username}
		</if>
		<if test="openId != null and openId != ''">
			or openId = #{openId}
		</if>
	</select>

    <!-- 通过客户经理id查询客户经理基本信息(包含银行卡、实名认证） -->
    <select id="selectManagerInfoById" parameterType="java.lang.Integer" resultType="com.aq.facade.vo.manage.ManagerBaseInfoVO">
        SELECT
            m.id,
            m.telphone,
            m.username,
            m.realName,
            m.isAuthentication,
            m.isBindBank,
            m.openId,
            m.payPassword,
            m.url,
            bb.cardNo,
            bb.bankcard,
			bb.openingAddress
        FROM
            aq_manager m
        LEFT JOIN aq_bind_bank bb ON bb.managerId = m.id
        WHERE
            m.id = #{managerId}
    </select>
    
    <!-- 查询最大的客户经理编码 -->
    <select id ="selectMaxIdCode" resultType="java.lang.Integer">
    	select 
    		idCode 
    	from 
    		aq_manager 
    	order by idCode desc limit 1
    </select>

    <!-- 翻页获取客户经理列表 -->
    <select id="getManagerListByPage" parameterType="com.aq.facade.dto.manage.SelectManagerDTO"
                resultType="com.aq.facade.vo.manage.ManagerListVO">
        SELECT
        am.id AS id,
        am.username AS username,
        am.telphone AS telphone,
        am.idCode AS idCode,
        am.realName AS realName,
        apu.employeeID AS 'employeeID',
        apu.userName AS employName,
        am.createTime 'createTime',
        am.managerDivideScale,
        (1-am.managerDivideScale) AS userDivideScale
        FROM
        aq_manager am
        LEFT JOIN aq_user_manager aum ON am.id = aum.managerId
        LEFT JOIN aq_permission_user apu ON apu.id = aum.userId
        WHERE
        1 =1
        <if test="username != null and username != ''">
            AND  (am.realName LIKE CONCAT('%', #{username},'%') or am.telphone like CONCAT('%', #{username},'%') or am.idCode like CONCAT('%', #{username},'%') )
        </if>
        <if test="telphone != null and telphone != ''">
            AND  am.telphone LIKE CONCAT('%', #{telphone},'%')
        </if>
        <if test="employID != null and employID != ''">
            AND  (apu.employeeID LIKE CONCAT('%', #{employID},'%') or apu.userName  LIKE CONCAT('%', #{employID},'%'))
        </if>
        <if test="userId != null and userId != ''">
            and apu.id = #{userId}
        </if>
        ORDER BY am.createTime DESC
    </select>


    <!-- 后台获取客户经理详情信息 -->
    <select id="getManagerDetail" parameterType="com.aq.facade.dto.manage.SelectManagerDTO"
            resultType="com.aq.facade.vo.ManagerDetailVO">
        SELECT
        am.id AS id,
        am.username AS username,
        am.telphone AS telphone,
        am.idCode AS idCode,
        am.realName AS realName,
        if(am.assets IS null,0,am.assets) AS money,
        apu.employeeID AS employeeID,
        apu.userName AS employName,
        am.remark AS remark,
        am.managerDivideScale,
        am.isEmployee,
        apu.id AS userId
        FROM
        aq_manager am
        LEFT JOIN aq_user_manager aum ON am.id = aum.managerId
        LEFT JOIN aq_permission_user apu ON apu.id = aum.userId
        WHERE
        1=1
        <if test="id != null and id!= ''">
            AND am.id = #{id}
        </if>
    </select>

    <!-- 获取所有客户经理数据 -->
    <select id="getAllManager" parameterType="com.aq.facade.dto.manage.SelectManagerDTO"
            resultType="com.aq.facade.vo.manage.ManagerListVO">
        SELECT
	      am.id AS id,
	      am.username AS username,
	      am.telphone AS telphone,
	      am.idCode AS staffnum,
	      am.realName AS realName,
	      am.createTime AS 'createTime'
        FROM
	      aq_manager am;
    </select>
    <!-- 修改微信标识为空 -->
    <update id="updateOpenIdIsNull">
    	update aq_manager set openId = null where telphone = #{telphone}
    </update>
</mapper>