<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AQ智能管理系统</title>
    <link rel="stylesheet" th:href="@{/static/css/models.css}">
</head>
<body>
<div class="MainContent">
    <div class="MainCont MainWelError">
        <div class="ph_errorBox">
            <p class="errorTxt">很抱歉，网页无法访问!</p>
            <p class="errorImg"><img src="images/500.png" alt="" width="100%"></p>
            <div class="PopupBtn">
                <input name="" onclick="goIndex();" type="button" value="返回首页">
                <input name="" onclick="previousPage();" type="button" value="返回上一页">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/static/js/jquery-1.11.1.min.js}"></script>
<script>
    function goIndex() {
        window.location.href = "/index";
    }
    function previousPage() {
        history.back();
    }
</script>
</body>
</html>
